<div class="card col-12 mt-3 bg-light">
  <div class="card-body">
    <h4 class="card-title">{{quiz.title}}</h4>
    <ul class="list-group">
      <li *ngFor="let question of questions" class="list-group-item card mt-2">
        <div [ngSwitch]="question.type" class="card-body">
          <app-multi-choice-question
            [question]="question"
            [graded]="graded"
            *ngSwitchCase="'MULTIPLE_CHOICE'"></app-multi-choice-question>
          <app-true-false-question
            [question]="question"
            [graded]="graded"
            *ngSwitchCase="'TRUE_FALSE'"></app-true-false-question>
        </div>
      </li>
    </ul>
    <div class="row col-12"><button class="btn btn-info" (click)="submit()" [hidden]="graded">Submit</button></div>
  </div>
</div>

