<div>
  <span>{{question.question}}</span>
  <ul class="list-group">
    <li class="list-group-item"
        [ngClass]="{'bg-success' : grading && question.correct === 'true' && question.answer === 'true'}"
        [ngClass]="{'bg-primary' : grading && question.correct === 'true' && question.answer === 'false'}"
        [ngClass]="{'bg-danger' : grading && question.correct === 'false' && question.answer === 'true'}"
    >
      <label for="truechoice" >True</label>
      <input type="radio" [name]="question._id" id="truechoice"
             class=" float-right"
             (click)="setAnswer('true')"
             [hidden]="grading"
      />
      <i class="fa fa-check" [hidden]="!grading || !(question.correct === 'true' && question.answer === 'true')"></i>
      <i class="fa fa-times" [hidden]="!grading || !(question.correct === 'false' && question.answer === 'true')"></i>
      <i class="fa fa-circle-o" [hidden]="!grading || !(question.correct === 'true' && question.answer === 'false')"></i>
    </li>
    <li class="list-group-item"
        [ngClass]="{'bg-success' : grading && question.correct === 'false' && question.answer === 'false'}"
        [ngClass]="{'bg-danger' : grading && question.correct === 'true' && question.answer === 'false'}"
        [ngClass]="{'bg-primary' : grading && question.correct === 'false' && question.answer === 'true'}"
    >
      <label for="falsechoice">False</label>
      <input type="radio" [name]="question._id" id="falsechoice"
             class=" float-right"
             (click)="setAnswer('false')"
             [hidden]="grading"
      />
      <i class="fa fa-check" [hidden]="!grading || !(question.correct === 'false' && question.answer === 'false')"></i>
      <i class="fa fa-times" [hidden]="!grading || !(question.correct === 'true' && question.answer === 'false')"></i>
      <i class="fa fa-circle-o" [hidden]="!grading || !(question.correct === 'false' && question.answer === 'true')"></i>
    </li>
  </ul>
  <div class="row"><span>Your answer: {{question.answer}}</span></div>
  <div class="row"><button class="btn btn-info" (click)="grade()" [hidden]="grading">Grade</button></div>
  <div class="row"><button class="btn btn-outline-info" (click)="grade()" [hidden]="!grading">Answer</button></div>

</div>

