<div>
  <h5 class="">Question: {{question.question}}</h5>
  <ul class="list-group mt-2">
    <li class="list-group-item"
        [ngClass]="{'bg-success text-white' : grading && question.correct === 'true' && question.answer === 'true'}"
        [ngClass]="{'bg-primary text-white' : grading && question.correct === 'true' && question.answer === 'false'}"
        [ngClass]="{'bg-danger text-white' : grading && question.correct === 'false' && question.answer === 'true'}"
    >
      <label for="truechoice">True</label>
      <input type="radio" [name]="question._id" id="truechoice"
             class=" float-right"
             (click)="setAnswer('true')"
             [hidden]="grading"
      />
      <i class="fa fa-check float-right" [hidden]="!grading || !(question.correct === 'true' && question.answer === 'true')"></i>
      <i class="fa fa-times float-right" [hidden]="!grading || !(question.correct === 'false' && question.answer === 'true')"></i>
      <i class="fa fa-circle-o float-right" [hidden]="!grading || !(question.correct === 'true' && question.answer === 'false')"></i>
    </li>
    <li class="list-group-item"
        [ngClass]="{'bg-success text-white' : grading && question.correct === 'false' && question.answer === 'false'}"
        [ngClass]="{'bg-primary text-white' : grading && question.correct === 'false' && question.answer === 'true'}"
        [ngClass]="{'bg-danger text-white' : grading && question.correct === 'true' && question.answer === 'false'}"
    >
      <label for="falsechoice">False</label>
      <input type="radio" [name]="question._id" id="falsechoice"
             class=" float-right"
             (click)="setAnswer('false')"
             [hidden]="grading"
      />
      <i class="fa fa-check float-right" [hidden]="!grading || !(question.correct === 'false' && question.answer === 'false')"></i>
      <i class="fa fa-circle-o float-right" [hidden]="!grading || !(question.correct === 'false' && question.answer === 'true')"></i>
      <i class="fa fa-times float-right" [hidden]="!grading || !(question.correct === 'true' && question.answer === 'false')"></i>
    </li>
  </ul>
  <div>
    <div class="row mt-2 mb-2 col-12"><span>Your answer: {{question.answer}}</span></div>
    <div class="row col-12"><button class="btn btn-info" (click)="grade()" [hidden]="grading">Grade</button></div>
    <div class="row col-12"><button class="btn btn-outline-info" (click)="grade()" [hidden]="!grading">Answer</button></div>
  </div>
</div>

