<div>
  <div class="row col-12">
      <span class="col-11">
        <h4>{{quiz.title}}</h4>
      </span>
    <a class="btn btn-outline-secondary float-right col-1" routerLink="/quizzes">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
      </a>
  </div>
  <ul class="list-group col-12">
    <li *ngFor="let attempt of attempts;  let i = index" class="list-group-item mt-2">
      <span>Attempt {{i+1}}</span>
      <span class="float-right">Score {{attempt.score}}</span>
    </li>
  </ul>
</div>
