<p>course-list works!</p>
<h1>{{title}}</h1>
<h3>{{courses.length}}</h3>


<!--<input [(ngModel)]="newCourseTitle"/>-->

<!--<button (click)="createCourse(newCourseTitle)">+</button>-->

<ul class="col-3">
  <li *ngFor="let course of courses">
    <a (click)="findModulesByCourseId(course._id)">{{course.title}}</a>
  </li>
</ul>

<ul class="col-3">
  <li *ngFor="let module of modules">
    <a (click)="findLessonsByModuleId(module._id)">{{module.title}}</a>
  </li>
</ul>

<ul class="col-3">
  <li *ngFor="let lesson of lessons">
    <a (click)="findTopicsByLessonId(lesson._id)">{{lesson.title}}</a>
  </li>
</ul>

<ul class="col-3">
  <li *ngFor="let topic of topics">
    {{topic.title}}
  </li>
</ul>

<p>End of course-list</p>
