<div class="card mt-3">
  <div class="card-body">
    <div>
      <div class="col-12 pb-3">
        <span class="h4">Course Name?</span>
        <a class="btn btn-outline-dark float-right" routerLink="/{{layout}}/courses/">Courses</a>
      </div>
      <div class="row">
        <div class="col-3">
          <app-module-list-component></app-module-list-component>
        </div>
        <div class="col-9">
          <app-lesson-tabs-component></app-lesson-tabs-component>
          <app-topic-pills-component></app-topic-pills-component>
    <!--      widgets-->
        </div>`
        </div>
    </div>

  </div>
</div>
